.property {

  &__items {
    margin-top: ($spacing-unit * 8) !important;

    &__item {
      margin-bottom: ($spacing-unit * 10) !important;
    }

  }

  &__additional {

    &--price, &--desc {
      font-size: 14px !important;
    }

  }

}